.hbtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: 
    transform 0.3s;
    padding: 7px 0 0 20px;
}

.bttn_line{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 3px;
    background:
    linear-gradient(90deg,#ffa113, #ff9100, #ffd209);
    border-radius: 20px;
}

.btn_line-short{
    z-index: 1;
    width: 50%;
    background: 
     linear-gradient(90deg,#ffa113, #ffd209,);
    align-self: flex-end;
    transform-origin: left;
    transition: 
    transform 0.3s;
}
.btn_line-short:nth-child(1){
    background:
    linear-gradient(90deg, #ff7c02,#e7e407);
    align-self: flex-start;
    transform-origin: right;
}

.hbtn-open{
    transform: rotate(-45deg);
}
.hbtn-open .btn_line-short {
    transform: rotate( -90deg);
}