.post-bar{
    align-items: center;
    display: flex;
    flex-direction: column;

    }

.post-input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 2rem;    

}

.post-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.post-button{
    background-color: rgb(230, 133, 23);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
