@media (max-width: 520px) {
    .header-container{
        flex-direction: column;
         }
    .projects-container{
        grid-template-columns: repeat(auto-fit, 350px);
        text-align: center;
    }

   } 

@media (max-width:375px) {
    .user-stories-photo{
        transform: scale();
    }
    .project-card{
        width: 100%;
    }
    .icons-container{
        gap: 10px;
    }
    .projects-container{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
 