
ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;

}
ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.45s ease, transform 0.25s ease;
}

ul li a:hover {
    transform: translateY(-10px);
    color: rgb(255, 187, 0);
    filter: drop-shadow(0px 0px 10px rgba(255, 166, 0, 0.8));
}


.stories{
    display: flex;
    justify-content: center;

}



.stories-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 40rem;
    height: 20rem;
    border: 5px solid transparent;

}
.story-card{
    border: 3px solid transparent;
    background-image:
    linear-gradient(white, white),
    linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-origin: border-box;
    background-clip: content-box,border-box;
    border-radius: 40px;
    width: 10rem;
    height: 15rem;

}

.story-card:hover{
    width: 11rem;
    height: 16rem;
    transition: all 0.9s ease;
    cursor: pointer;
}
.main-columns{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
main {
    flex-grow: 1;
}

.right-side{
    border-left: 2px solid rgb(255, 255, 255);
    
    background-color: rgb(246, 245, 245);
    height: fit-content;
    text-align: center;
    padding-top: 20px;
}


.all-feed{
    background-color: #ffffff;
    border: 2px solid rgb(246, 246, 246);
    text-align: start;
    border-bottom: 0;
}
.photos{
    width: 30rem;
    height: 42rem;

}
.user-photo{
    display: grid;
    grid-template-columns: 2px 2f;
    height: 50px;
    width: 50px;
    border-radius: 30px;
 } 

 .left-bar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style: none;
 }
.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px 10px;
    position: sticky;
    top: 0;
 }


.left-bar li{
    margin-bottom: 0;
    display: block;
}

.left-bar .flex-center{
    justify-content: flex-start;
    padding: 12px, 15px;
    border-radius: 12px;
    transition: background 0.3s;
    width: 100%;
}
.bottom-container{
    font-weight: 200;
 }
.right-title{
    font-size: 24px;
    font-family: 'Borel';
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
    padding: 30px 20px;
}
.location{
    display: flex;
    align-items: center;
    gap: 5px;
}
.comment{
    padding: 0 20px 20px 20px;
    font-size: 18px;
}
.main-feed{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 40px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.width-100{
    width: 100%!important;
}

.nav-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}