
*{
    margin: 0;
    font-family: 'Delius';
}
figure{
    margin: 0;
}

body{
    font-family: 'Reboto', sans-serif;
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;

}
#close-banner{
    display: none;
}
#close-banner:checked ~ #welcome-screen{
    transform: translateY(-200%);
    opacity: 0;
    pointer-events: none;
}
.enter-btn{
    padding: 8px 30px;
    background: white;
    color: black;
    border-radius: 50px;
    cursor:pointer;
    display: inline-block;
    margin-top: 20px;
}
#welcome-screen{
    color: white ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    transform: translateY(0);
    transition: transform 3s ease, opacity 2s ease;}
.welcome-description{
    max-width: 50rem;
    padding-left: 30px;

}
.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
    top: 0;
    left: 0;
    filter: hue-rotate(200deg);
    object-fit: cover;
    object-position: 70% 30%;
}
.welcome-container{
    position: relative;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding:0 0 0 100px;
}

.welcome-hidden{
    transform: translateY(-100%);
    opacity: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;

}
ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.45s ease, transform 0.25s ease;
}

ul li a:hover {
    transform: translateY(-10px);
    color: rgb(255, 187, 0);
    filter: drop-shadow(0px 0px 10px rgba(255, 166, 0, 0.8));
}

.advertisement-section{
    background-size: cover;
    height: 500px;
    width: 100%;;
}

.advertisement-title{
    font-size: 90px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.advertisement-section p:not(exception){
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px #00000080;
}
.content-container{
    font-size: 25px;;
    background-color: rgba(255, 255, 255,);
    border-radius: 8px;
    width: 50%;
    text-align:center;
    display: flex;
    flex-direction: column;
}
.stories{
    display: flex;
    justify-content: center;
    grid: 1 2fr;    
    
}

.stories-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 40rem;
    height: 20rem;
    border: 5px solid transparent;

}
.story-card{
    border: 3px solid transparent;
    background-image:
    linear-gradient(white, white),
    linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-origin: border-box;
    background-clip: content-box,border-box;
    border-radius: 40px;
    width: 10rem;
    height: 15rem;

}

.story-card:hover{
    width: 11rem;
    height: 16rem;
    transition: all 0.9s ease;
    cursor: pointer;
}
.main-columns{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 300rem;
    margin: 0;
}
main {
    flex-grow: 1;
}
.left-nav{
    position: sticky;
    flex-shrink: 0;
    box-shadow: 40px;
    border-right: 2px solid rgb(235, 235, 235);
    background-color: rgb(255, 255, 255);
    width: 15rem;
    top: 0px;
    height: fit-content;
    min-height: 57rem;

}
.right-side{
    position: sticky;
    border-left: 2px solid rgb(255, 255, 255);
    flex-shrink: 0;
    width: 20rem;
    background-color: rgb(246, 245, 245);
    height: fit-content;
    min-height: 100rem;
    text-align: center;
    padding-top: 20px;

}


.all-feed{
    background-color: #ffffff;
    border: 2px solid rgb(246, 246, 246);
    text-align: start;
    border-bottom: 0;
}
.photos{
    width: 30rem;
    height: 42rem;

}
.user-photo{
    display: grid;
    grid-template-columns: 2px 2f;
    height: 50px;
    width: 50px;
    border-radius: 30px;
 } 

 .left-bar ul {
    display: flex;
    flex-direction: column;      
    margin: 0;
    gap: 15px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    text-align: center;
    padding: 100px 0 0 0;
    gap: 40px;
    font-size: 18px;
    font-family: 'Material Icons', sans-serif;
    position: fixed;
    }
    
.page-title{
    font-size: 30px;
    font-family: 'Borel';
    padding-left: 1rem;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pointer {
    cursor: pointer;
}

.right-title{
    font-size: 24px;
    font-family: 'Borel';
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
    padding: 30px 20px;
}
.location{
    display: flex;
    align-items: center;
    gap: 5px;
}
.comment{
    padding: 0 20px 20px 20px;
    font-size: 18px;
}
.main-feed{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 40px;
}