<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Soft Paws!</title>
        <link rel="stylesheet" href="/src/stylesheet/stylesheet-pet-store.css">
        <meta name="description"
            content="A social media platform for pet lovers to share photos, find friends, and discover local pet shops.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    </head>
    <body>
        <!-- ==========================================
            Hamburguer button that hides the sidebar
        ============================================ -->
        <div class="button-container">
            <button class="button">
                <span class="material-symbols-outlined">menu</span>
            </button>
        </div>
        <!-- =========================
         Container that divide the site
        ========================= -->
        <div class="main-container">
            <!-- =========================
                Sidebar menu
            ========================= -->
            <aside class="left-container">
                <nav class="upper-menu">
                    <h2 class="page-title"> Soft Paws!</h2>
                    <ul class="upper-items">
                        <li><span class="material-symbols-outlined">chat_bubble</span>
                            Messages
                        </li>
                        <li><span class="material-symbols-outlined">notifications</span> 
                            Notifications</li>
                        <li><span class="material-symbols-outlined">add</span>
                            Create</li>
                        <li>
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span><a href="/index.html">Go back to portfolio</a> 
                        </li>
                    </ul>
                    <div id="welcome-text">
                        <span>
                        </span>
                    </div>
                </nav>
                <nav class="bottom-menu">
                    <ul class="bottom-items">
                        <li><span class="material-symbols-outlined">account_circle</span>
                            Profile</li>
                        <li> 
                            <span class="material-symbols-outlined gear dark-mode-btn">moon_stars</span>
                            <button id="color-toggle" class="btn-color li">Dark mode</button>
                        </li>
                        <li><span class="material-symbols-outlined gear">settings</span>
                            Settings</li>

                    </ul>
                </nav>
            </aside>
            <!-- =========================
            Column that have all the main content (Stories, Feed, Copyrights)
            ========================= -->
            <main class="central-container">
                <section class="stories">
                    <h3>Stories</h3>
                    <div class="stories-container">
                        <figure>
                            <img class="story-photo" src="/public/img/stories-pictures/dog1.png" alt="dog1">
                            <figcaption>
                                <img class="user-stories-photo" src="/public/img/profile-pictures/pf1.avif" alt="user-stories-photo">
                                Sarah</figcaption>
                        </figure>
                        <figure>
                            <img class="story-photo" src="/public/img/stories-pictures/dog2.png" alt="dog2">
                            <figcaption>
                                <img class="user-stories-photo" src="/public/img/profile-pictures/pf2.avif" alt="user-stories-photo">
                                Carlos</figcaption>
                        </figure>
                        <figure>
                            <img  class="story-photo" src="/public/img/stories-pictures/dog3.png" alt="dog3">
                            <figcaption>
                                <img  class="user-stories-photo" src="/public/img/profile-pictures/pf3.avif" alt="user-stories-photo">
                                Gabriel</figcaption>
                        </figure>
                        <figure> 
                            <img class="story-photo" src="/public/img/stories-pictures/dog4.jpg" alt="dog">
                            <figcaption>
                                <img class="user-stories-photo" src="/public/img/profile-pictures/pf4.webp" alt="user-stories-photo">
                                Valentina</figcaption>
                        </figure>
                    </div>
                </section>
                <!-- =========================
                    Feed AND Post Section
                 ========================= -->
                <section class="feed">
                    <article class="feed-post">
                        <div class="post-header">
                            <img class="post-avatar" src="/public/img/profile-pictures/pf1.avif" alt="Sarah">
                            <div class="post-info">
                                <p class="post-username">Sarah</p>
                                <p class="post-time">10 minutes ago</p>
                            </div>
                        </div>
                        <span class="post-image">
                            <img src="/public/img/post-pictures/ps1.webp" alt="Post">
                        </span>
                        <span class="post-actions">
                            <button class="action-btn"><span class="material-symbols-outlined">favorite</span></button>
                            <button class="action-btn"><span class="material-symbols-outlined">chat_bubble</span></button>
                            <button class="action-btn"><span class="material-symbols-outlined">share</span></button>
                        </span>
                        <div class="post-stats">
                            <p><strong>245 Likes</strong></p>
                            <p>Hi!</p>
                        </div>
                    </article>
                    <article class="feed-post">
                        <div class="post-header">
                            <img class="post-avatar" src="/public/img/profile-pictures/pf2.avif" alt="Carlos">
                            <div class="post-info">
                                <p class="post-username">Carlos</p>
                                <p class="post-time">4 hours ago</p>
                            </div>
                        </div>
                        <div class="post-image">
                            <img src="/public/img/post-pictures/ps2.avif" alt="Post">
                        </div>
                        <div class="post-actions">
                            <button class="action-btn"><span class="material-symbols-outlined">favorite</span></button>
                            <button class="action-btn"><span class="material-symbols-outlined">chat_bubble</span></button>
                            <button class="action-btn"><span class="material-symbols-outlined">share</span></button>
                        </div>
                        <div class="post-stats">
                            <p><strong>189 Likes</strong></p>
                            <p>My new friend</p>
                        </div>
                    </article>

                    <article class="feed-post">
                        <div class="post-header">
                            <img class="post-avatar" src="/public/img/profile-pictures/pf4.webp" alt="Valentina">
                            <div class="post-info">
                                <p class="post-username">Valentina</p>
                                <p class="post-time">6 hours ago</p>
                            </div>
                        </div>
                        <div class="post-image">
                            <img src="/public/img/post-pictures/ps3.jpg" alt="Post">
                        </div>
                        <div class="post-actions">
                            <button class="action-btn"><span class="material-symbols-outlined">favorite</span></button>
                            <button class="action-btn"><span class="material-symbols-outlined">chat_bubble</span></button>
                            <button class="action-btn"><span class="material-symbols-outlined">share</span></button>
                        </div>
                        <div class="post-stats">
                            <p><strong>342 Likes</strong></p>
                            <p>¿Who is a good boy?</p>
                        </div>
                    </article>
                    <footer>
                    <span class="copyright">2026 ©copyright. Todos los derechos reservados</span>
                    </footer>
                </section>
            </main>
        </div>
        <!-- =========================
            Scripts import lines
        ========================= -->
        <script src="/src/js/scripts.js"></script>
    </body>
    </html>